---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pid Litacka</title>
  </head>
  <body class="bg-[#f3f5f7]" style="font-family: 'Roboto', sans-serif;">
    <section id="TODO" class="mx-4 my-2">
      <div id="SETTINGS" class="text-right">
        <i class="fa-solid fa-gear fa-lg" style="color:#2a1253;"></i>
      </div>
      <h1 class="text-left text-[33px] font-bold mt-3">My Tickets</h1>
      <section
        id="TIRA"
        class="flex bg-[#e3e5e9] rounded-md my-6 font-medium justify-around"
      >
        <div
          class="flex-auto text-center text-[#25114e] m-0.5 py-0.5 px-1 rounded-md font-bold"
        >
          Tickets
        </div>
        <div
          class="flex-auto text-center m-0.5 py-0.5 px-1 bg-[#2a1253] rounded-md text-white"
        >
          Passes
        </div>
      </section>
      <section id="RELOJ" class="text-[20px] font-medium text-center mb-2">
      </section>
      <section id="CODIGO QR" class="flex justify-center text-center mb-2">
        <img src="https://surassessment.cl/testimonios/QR1.jpg" />
      </section>

      <section id="NOMBRE" class="flex justify-between mb-3">
        <div class="text-[18px] text-center mt-0.5">Owner</div>
        <div class="text-[20px] font-bold">Miguel Cifuentes</div>
      </section>
      <section
        id="BANER"
        class="flex text-center bg-white rounded-t-md shadow-xl pb-1"
      >
        <div
          class="flex-auto border-r-2 pt-4 text-center justify-center text-[13px] font-medium"
        >
          <div class="mb-0.5 px-6">
            <i class="fa-solid fa-user fa-2xl"></i>
          </div>personal
        </div>

        <div
          class="flex flex-auto gap-x-9 border-r-2 text-center justify-center"
        >
          <div class="ml-3">
            <div class="text-[30px]">12</div><div class="text-[13px] -my-2">
              months
            </div>
          </div>

          <div class="">
            <div class="flex text-center justify-center">
              <div class="text-[30px]">P</div><div>
                <div class="my-1 text-[13px]">0</div><div
                  class="text-[14px] -mt-3"
                >
                  B
                </div>
              </div>
            </div>
            <div class="text-[13px] -my-2">Prague</div>
          </div>

          <div class="text-center justify-center pt-2 mr-3">
            <div>
              <img src="https://surassessment.cl/testimonios/GENDER.jpg" />
            </div><div class="text-[13px] -mt-0.5">adult</div>
          </div>
        </div>
        <div
          class="flex-auto justify-center text-center pt-5 mx-2"
          style="color:#969698"
        >
          <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
        </div>
      </section>
      <div
        class="flex py-1.5 text-center justify-center bg-[#e0eee8] rounded-b-md shadow-md"
      >
        <div class="text-[17px] font-normal text-[#299254]">
          <b>97 days 12 hr</b> remaining
        </div>
      </div>
    </section>

    <section
      id="BOTTOM MENU"
      class="flex fixed justify-around text-center bottom-0 w-[100%] border-t-2"
    >
      <div class="mt-2" style="color:#969698">
        <div class="mb-1">
          <i class="fa-solid fa-magnifying-glass fa-xl"></i>
        </div><div class="text-[11px]">Connections</div>
      </div>

      <div class="mt-2" style="color:#2a1253">
        <div class="mb-1">
          <i class="fa-sharp fa-solid fa-ticket-simple fa-xl"></i>
        </div><div class="text-[11px]">Tickets</div>
      </div>

      <div class="mt-2" style="color:#969698">
        <div class="mb-1">
          <i class="fa-solid fa-square-parking fa-xl"></i>
        </div><div class="text-[11px]">Parking</div>
      </div>

      <div class="mt-2" style="color:#969698">
        <div class="mb-1">
          <i class="fa-sharp fa-solid fa-compass fa-xl"></i>
        </div><div class="text-[11px]">Map</div>
      </div>

      <div class="mt-2" style="color:#969698">
        <div class="mb-1">
          <i class="fa-solid fa-ellipsis fa-xl"></i>
        </div><div class="text-[11px]">More</div>
      </div>
    </section>
  </body>

  <script>
    let time = document.getElementById("RELOJ");

    setInterval(() => {
      let d = new Date();
      time.innerHTML = d.toLocaleTimeString("en-US", { hour12: false });
    }, 1000);
  </script>
</html>
