---
---

<html lang="en">
  <head>
    <link
      rel="apple-touch-icon"
      href="http://surassessment.cl/testimonios/LOGOPID.png"
    />

    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>pid lítačka</title>

    <style>
      .animated > * {
        display: inline;
        position: relative;
        animation: 4.5s linear infinite alternate move;
      }

      @keyframes move {
        0% {
          transform: translateX(0%);
          left: 0%;
        }
        100%,
        100% {
          transform: translateX(-100%);
          left: 100%;
        }
      }
    </style></head
  >

  <body class="bg-[#f3f5f7]" style="font-family: 'Roboto', sans-serif;">
    <section id="TODO" class="mx-4">
      <!---- STICKY HEADER ---->

      <div class="sticky z-10 top-0 w-[100%] bg-[#f3f5f7] pt-4">
        <div id="SETTINGS" class="text-right">
          <i class="fa-solid fa-gear fa-lg" style="color:#2a1253;"></i>
        </div>
        <h1 class="text-left text-[33px] font-bold mt-3">My Tickets</h1>
        <section
          id="TIRA"
          class="flex bg-[#e3e5e9] rounded-md my-4 font-medium justify-around"
        >
          <div
            class="flex-auto text-center text-[#25114e] m-0.5 py-0.5 px-1 rounded-md font-bold"
          >
            Tickets
          </div>
          <div
            class="flex-auto text-center m-0.5 py-0.5 px-1 bg-[#2a1253] rounded-md text-white"
          >
            Passes
          </div>
        </section>
      </div>

      <!---- RELOJ ---->

      <div class="animated text-[20px] font-medium mb-2 mr-20">
        <div id="RELOJ" class=""></div>
      </div>

      <!---- CODIGO QR ---->

      <section id="CODIGO QR" class="flex justify-center text-center mb-2">
        <img src="https://surassessment.cl/testimonios/QR1.jpg" />
      </section>

      <!---- DATOS OWNER ---->

      <section id="NOMBRE" class="flex justify-between mb-3">
        <div class="text-[18px] text-center mt-0.5">Owner</div>
        <div class="text-[20px] font-bold">Miguel Cifuentes</div>
      </section>

      <!---- PRIMER BANNER ---->

      <section
        id="BANER"
        class="flex text-center bg-white rounded-t-md shadow-2xl pb-1 border-t-2"
      >
        <div
          class="flex-auto border-r-2 pt-4 text-center justify-center text-[13px] font-medium"
        >
          <div class="mb-0.5 px-6">
            <i class="fa-solid fa-user fa-2xl"></i>
          </div>personal
        </div>

        <div
          class="flex flex-auto gap-x-9 border-r-2 text-center justify-center"
        >
          <div class="ml-3">
            <div class="text-[30px]">10</div><div class="text-[13px] -my-2">
              months
            </div>
          </div>

          <div class="">
            <div class="flex text-center justify-center">
              <div class="text-[30px]">P</div><div>
                <div class="my-1 text-[13px]">0</div><div
                  class="text-[14px] -mt-3"
                >
                  B
                </div>
              </div>
            </div>
            <div class="text-[13px] -my-2">Prague</div>
          </div>

          <div class="text-center justify-center pt-2 mr-3">
            <div>
              <img
                src="https://surassessment.cl/testimonios/GENDERACTIVE.jpg"
              />
            </div><div class="text-[13px] -mt-0.5">adult</div>
          </div>
        </div>
        <div
          class="flex-auto justify-center text-center pt-5 mx-2"
          style="color:#969698"
        >
          <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
        </div>
        <div
          class="absolute mt-[58px] bg-[#209149] rounded-lg text-[6px] w-[50%] h-[6px]"
        >
        </div>
      </section>

      <div
        class="flex py-1 text-center justify-center bg-[#e0eee8] rounded-b-md border-b-2 shadow-md"
      >
        <div class="text-[17px] font-normal text-[#299254]">
          <b>160 days 12 hr</b> remaining
        </div>
      </div>

      <!---- SEGUNDO BANNER ---->

      <section
        id="BANER"
        class="flex text-center text-[#969698] bg-white rounded-t-md shadow-lg border-t-2 mt-2.5"
      >
        <div
          class="flex-auto border-r-2 pt-4 text-center justify-center text-[13px] font-medium"
        >
          <div class="mb-0.5 px-6">
            <i class="fa-solid fa-user fa-2xl"></i>
          </div>personal
        </div>

        <div
          class="flex flex-auto gap-x-9 border-r-2 text-center justify-center"
        >
          <div class="ml-3">
            <div class="text-[30px]">1</div><div class="text-[13px] -my-2">
              month
            </div>
          </div>

          <div class="">
            <div class="flex text-center justify-center">
              <div class="text-[30px]">P</div><div>
                <div class="my-1 text-[13px]">0</div><div
                  class="text-[14px] -mt-3"
                >
                  B
                </div>
              </div>
            </div>
            <div class="text-[13px] -my-2">Prague</div>
          </div>

          <div class="text-center justify-center pt-2 mr-3">
            <div>
              <img
                src="https://surassessment.cl/testimonios/GENDERINACTIVE.jpg"
              />
            </div><div class="text-[13px] -mt-0.5">adult</div>
          </div>
        </div>
        <div
          class="flex-auto justify-center text-center pt-5 mx-2"
          style="color:#c5c7c9"
        >
          <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
        </div>
      </section>
      <div
        class="flex py-1.5 text-center text-[#969698] justify-center bg-[#e0eee8] rounded-b-md border-b-2 shadow-sm"
      >
        <div class="text-[17px] font-normal">
          Expired on <b>Mar 7, 2023</b>
        </div>
      </div>

      <!---- BOTTON BUY PASS ---->

      <section id="BUY A PASS" class="mt-3 mb-16 text-center">
        <div
          class="bg-[#42af2a] py-2 text-white text-[18px] font-bold rounded-3xl"
        >
          Buy a pass
        </div>
      </section>
    </section>

    <!---- BOTTOM MENU ---->

    <section
      id="BOTTOM MENU"
      class="flex fixed justify-around text-center bottom-0 pb-1 w-[100%] bg-[#f3f5f7] border-t-2"
    >
      <div class="mt-2" style="color:#969698">
        <div class="mb-1">
          <i class="fa-solid fa-magnifying-glass fa-xl"></i>
        </div><div class="text-[11px]">Connections</div>
      </div>

      <div class="mt-2" style="color:#2a1253">
        <div class="mb-1">
          <i class="fa-sharp fa-solid fa-ticket-simple fa-xl"></i>
        </div><div class="text-[11px]">Tickets</div>
      </div>

      <div class="mt-2" style="color:#969698">
        <div class="mb-1">
          <i class="fa-solid fa-square-parking fa-xl"></i>
        </div><div class="text-[11px]">Parking</div>
      </div>

      <div class="mt-2" style="color:#969698">
        <div class="mb-1">
          <i class="fa-sharp fa-solid fa-compass fa-xl"></i>
        </div><div class="text-[11px]">Map</div>
      </div>

      <div class="mt-2" style="color:#969698">
        <div class="mb-1">
          <i class="fa-solid fa-ellipsis fa-xl"></i>
        </div><div class="text-[11px]">More</div>
      </div>
    </section>
  </body>

  <script>
    let time = document.getElementById("RELOJ");

    setInterval(() => {
      let d = new Date();
      time.innerHTML = d.toLocaleTimeString("en-US", { hour12: false });
    }, 1000);
  </script>
</html>
